{% extends 'base.html.twig' %}

{% block title %}Mouvies{% endblock %}

{% block body %}
    <h1>Mouvies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mouvy.id }}</td>
            </tr>
            <tr>
                <th>Popularity</th>
                <td>{{ mouvy.popularity }}</td>
            </tr>
            <tr>
                <th>Vote_count</th>
                <td>{{ mouvy.voteCount }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ mouvy.video ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Poster_path</th>
                <td>{{ mouvy.posterPath }}</td>
            </tr>
            <tr>
                <th>Adult</th>
                <td>{{ mouvy.adult ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Backdrop_path</th>
                <td>{{ mouvy.backdropPath }}</td>
            </tr>
            <tr>
                <th>Original_language</th>
                <td>{{ mouvy.originalLanguage }}</td>
            </tr>
            <tr>
                <th>Original_title</th>
                <td>{{ mouvy.originalTitle }}</td>
            </tr>
            <tr>
                <th>Genre_ids</th>
                <td>{{ mouvy.genreIds ? mouvy.genreIds|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ mouvy.title }}</td>
            </tr>
            <tr>
                <th>Vote_average</th>
                <td>{{ mouvy.voteAverage }}</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>{{ mouvy.overview }}</td>
            </tr>
            <tr>
                <th>Release_date</th>
                <td>{{ mouvy.releaseDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mouvies_index') }}">back to list</a>

    <a href="{{ path('mouvies_edit', {'id': mouvy.id}) }}">edit</a>

    {{ include('mouvies/_delete_form.html.twig') }}
{% endblock %}
