{% extends 'base.html.twig' %}

{% block title %}MouvieList index{% endblock %}

{% block body %}
    <h1>MouvieList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mouvie_list in mouvie_lists %}
            <tr>
                <td>{{ mouvie_list.id }}</td>
                <td>{{ mouvie_list.name }}</td>
                <td>
                    <a href="{{ path('mouvie_list_show', {'id': mouvie_list.id}) }}">Détails</a>
                    <a href="{{ path('mouvie_list_edit', {'id': mouvie_list.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mouvie_list_new') }}">Create new</a>
{% endblock %}
