{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {#
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
             #}
            <tr>
                <th>BirthDate</th>
                <td>{{ user.BirthDate ? user.BirthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.LastName }}</td>
            </tr>
        </tbody>
    </table>

    {#TODO a mettre uniquement pour les Admin
    <a href="{{ path('user_index') }}">back to list</a>#}
     {{ include('user/_delete_form.html.twig') }}
    <a href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
    

{% endblock %}
